<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.forcetower.cubicrectangle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CubicApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Release.Theme">
        <activity
            android:name=".view.HomeActivity"
            android:theme="@style/Release.Theme.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.details.DetailedActivity"
            android:parentActivityName=".view.HomeActivity"
            android:theme="@style/Release.Theme.Translucent.Detailed.Movie">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>